Create  sample flow with function category
[
    {
        "id": "39d131e79dfb4a9b",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0dc5124f368ea10c",
        "type": "inject",
        "z": "39d131e79dfb4a9b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "63f0e0a53f05f7cd",
                "b41bc29db7701832"
            ]
        ]
    },
    {
        "id": "63f0e0a53f05f7cd",
        "type": "function",
        "z": "39d131e79dfb4a9b",
        "name": "Generate random number",
        "func": "// generate random number\nvar min = 1;\nvar max = 10;\nvar a = Math.floor(Math.random() * (max + 1 - min)) +\n    min;\n// set random number to message\nmsg.payload = a;\n// return message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 300,
        "wires": [
            [
                "8852f64a0c134533",
                "defadf5d03267b2d"
            ]
        ]
    },
    {
        "id": "8852f64a0c134533",
        "type": "switch",
        "z": "39d131e79dfb4a9b",
        "name": "Big and Small",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "e7180ca0047c9037"
            ],
            [
                "6cfd2d550b439484"
            ]
        ]
    },
    {
        "id": "b41bc29db7701832",
        "type": "debug",
        "z": "39d131e79dfb4a9b",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "e7180ca0047c9037",
        "type": "template",
        "z": "39d131e79dfb4a9b",
        "name": "Output small",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The number is small: {{payload}} !\n",
        "output": "str",
        "x": 730,
        "y": 260,
        "wires": [
            [
                "859eb0302771164b"
            ]
        ]
    },
    {
        "id": "6cfd2d550b439484",
        "type": "template",
        "z": "39d131e79dfb4a9b",
        "name": "Output big",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The number is big: {{payload}} !",
        "output": "str",
        "x": 730,
        "y": 360,
        "wires": [
            [
                "859eb0302771164b"
            ]
        ]
    },
    {
        "id": "defadf5d03267b2d",
        "type": "change",
        "z": "39d131e79dfb4a9b",
        "name": "Change to string",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": " It has been changed to string data!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 440,
        "wires": [
            [
                "43c05144f1b46dcf"
            ]
        ]
    },
    {
        "id": "43c05144f1b46dcf",
        "type": "debug",
        "z": "39d131e79dfb4a9b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 440,
        "wires": []
    },
    {
        "id": "859eb0302771164b",
        "type": "debug",
        "z": "39d131e79dfb4a9b",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 320,
        "wires": []
    }
]
